.wrapper {
    width: 1280px;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: column;
    width: 1280px;
}
.header-logo {
    color: #4BCAFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    padding-bottom: 38px; /*коррект ментор*/
    padding-top: 63px; /*коррект ментор*/
}
.header-logo-color {
    color: black;
}
/*Navbar menu*/
.navbar-list {
    display: flex;
    justify-content: center;
    background-color: #35444F;
    align-items: center;
    padding: 0 171px 0 171px;
}
.navbar-item {
    display: inline-block; /* располож пункты гориз */
    border-left: 1px solid #fff;
    padding: 26px 28px 19px 28px;
}
.navbar-item:last-child {
    border-right: 1px solid #fff;
}
.navbar-item:hover {
    background-color: #222F3A;
}
.navbar-link {
    display: block; /* ссылка растяг на весь пункт li */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: white;
}
/* Main */
.main {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 1280px;
    margin-top: 48px;
}
.main-content {
    width: 885px;
    margin-bottom: 51px;
}
.main-image {
    border: 1px solid #000000;
    padding: 75px 268px 73px 297px;
    overflow: hidden;
}
img {
    transition: transform 0.25s;
}
.main-image:hover img {
    transform: scale(1.1);
}
.main-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    margin-top: 35px;
}
.sidebar {
    width: 344px; /*коррект ментор*/
    height: 397px;
    border: 1px solid #000000;
}
.sidebar-list {
    display: flex;
    flex-direction: column;
}
.sidebar-item {
    padding-top: 26px; /*коррект ментор*/
    padding-bottom: 26px;/*коррект ментор*/
    padding-left: 44px; /*коррект ментор*/
    align-self: stretch;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    color: #485863;
}
.sidebar-item:hover { /*коррект ментор*/
    background-color: #DBDBDB;
    color: #35444F;
    transition: all .25s easy;
    padding-left: 70px;
}
.sidebar-link {
    display: block;
    width: 100%;
}
/*Footer menu*/
.footer {
    display: flex;
    justify-content: space-between;
    background: rgba(99, 105, 110, 0.48);
    margin-bottom: 30px;
}
.footer-list {
    padding-left: 40px;
}
.footer-item {
    display: inline-block;
    padding: 20px 40px 13px 0; /*13px потому что отступ подчеркивания 8px*/
}
.footer-link {
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
    border-bottom: 1px solid #11ffee00; /*бесцвет.подчеркив*/
    padding-bottom: 8px; /*отступ подчеркивания*/
}
.footer-link:hover {
    color: #3181A6;
    text-decoration: none;
    border-bottom: 1px solid #3181A6; /*цвет.подчеркив*/
    padding-bottom: 8px; /*отступ подчеркивания*/
    text-transform: capitalize; 
}
.footer-text {
    padding: 20px 40px 13px 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #010101;
}